/Entornos de Desarrollo/Tareas/Blanco_Gutierrez_Jose_Ramon_ED03_Tarea/CCuenta/nbproject/private/
/Entornos de Desarrollo/Tareas/Blanco_Gutierrez_Jose_Ramon_ED03_Tarea/CCuenta/build/
/Entornos de Desarrollo/Tareas/Blanco_Gutierrez_Jose_Ramon_ED03_Tarea/PROG06_Tarea/nbproject/private/
/Entornos de Desarrollo/Tareas/PROG06_Tarea/nbproject/private/
/Programación/Tareas/PROG06_Tarea/build/
/Programación/Tareas/PROG06_Tarea/dist/
/Entornos de Desarrollo/Tareas/pilasycolas/nbproject/private/
/Entornos de Desarrollo/Tareas/pilasycolas/build/
